<a href="https://colab.research.google.com/github/hmdredwan/Co-Lab/blob/main/Asignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
name= "Md. Redwan Hossain" #string type
age=26 #integer type
fav_color= "Sky blue" #string type
print(f"Hello! I'm {name}. I'm {age} years old. My favourite color is {fav_color}.")

Hello! I'm Md. Redwan Hossain. I'm 26 years old. My favourite color is Sky blue

#2. Create one variable of each type and use the type() function to verify its type.

In [ ]:
name= "Md. Redwan Hossain" #string type
age=26 #integer type
fav_food=["Biriyani","Lacchi","Desert"] #list
fav_color=("black","blue") #tuple
fav_fruits={'banana','orange','apple'} #set
job_type=None
address={"city":"Dhaka","country":"Bangladesh"} #dictionary

print (type(name))
print (type(age))
print (type (fav_food))
print (type (fav_color))
print (type (fav_fruits))
print (type (job_type))
print (type (address))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'NoneType'>
<class 'dict'>

#3. Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
length=7
width=5
area=length*width
perimeter=2*(length+width)

print(f"The area of the rectangle with length {length} and width {width} is {area} .")
print(f"The perimeter of the rectangle with length {length} and width {width} is {perimeter} .")

The area of the rectangle with length 7 and width 5 is 35
The perimeter of the rectangle with length 7 and width 5 is 24

# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [ ]:
bangladeshi_foods=["Biryani","Bhuna Khichuri","Morog Polao","Kacchi Biriyani","Sorshe Ilish"]
print (bangladeshi_foods[0])
print (bangladeshi_foods[-1])

Biryani
Sorshe Ilish

# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
numbers=[23,20,32,31,19]
print(numbers)
numbers.append(21)
print(f"After adding a new number: {numbers}")
numbers.remove(20)
print(f"After removing one number: {numbers}")
numbers.sort()
print(f"After sorting the list: {numbers}")

[23, 20, 32, 31, 19]
After adding a new number: [23, 20, 32, 31, 19, 21]
After removing one number: [23, 32, 31, 19, 21]
After sorting the list: [19, 21, 23, 31, 32]

# 6. Create a dictionary about yourself with at least 4 key-value pairs.

In [ ]:
about_me={
    "name":"Md. Redwan Hossain",
    "age":26,
    "fav_food":["Biriyani","Lacchi","Desert"],
    "fav_color": ("black","blue")
}
print (about_me)

{'name': 'Md. Redwan Hossain', 'age': 26, 'fav_food': ['Biriyani', 'Lacchi', 'Desert'], 'fav_color': ('black', 'blue')}

# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
coxs_bazar=("21.4272째 N","92.0061째 E")
print(coxs_bazar)

('21.4272째 N', '92.0061째 E')

# 8. Create two sets of colors and find their union and intersection.

In [ ]:
colors_A={"blue", "green","red"}
colors_B={"black","green","yellow"}
print(colors_A | colors_B)
print(colors_A & colors_B)

{'yellow', 'black', 'blue', 'red', 'green'}
{'green'}

# 9. Write a Python function that takes a string as input and prints the first and last character of the string.

In [ ]:
def func(str_value):
  print(str_value[0])
  print(str_value[-1])

str_value=input()
func(str_value)

hello
h
o

# 10. Write a Python function that takes a string and converts it to uppercase.

In [ ]:
def func(str_value):
  new_string=str_value.upper()
  print(new_string)

str_value=input()
func(str_value)

hello
HELLO